#sub-main {
    height: 100vh;
    background: linear-gradient(200deg, rgba(123,134,232,1) 30%, rgba(246,140,255,1) 50%, rgb(133, 0, 173) 90%);
}

#h1-loginuser {
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
}

#h3-loginuser {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    margin: 40px;
    margin-top: 0px;
}

#loginuser-form {
    background-color: white;
    width: 35ex;
    height: 32ex;
    border-radius: 20px;
}

.form-cell {
    text-align: center;
}

#id_username {
    border: 2px solid rgb(63, 63, 241); 
    border-radius: 5px;
}

#id_password {
    border: 2px solid rgb(63, 63, 241); 
    border-radius: 5px;
}

.description {
    height: 30px;
}