#intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(200deg, rgba(123,134,232,1) 30%, rgba(246,140,255,1) 50%, rgb(133, 0, 173) 90%);
}

#h1-intro {
    font-size: 60px;
}

#h2-intro {
    font-size: 20px;
}

#intro-buttons {
    display: flex;
    justify-content: center;
}

#signup-button {
    margin-right: 10px;
}

#login-button {
    margin-left: 10px;
}

#sub-main {
    margin: 0px 100px;
}

.main-div-block {
    margin: 50px 0px;
}

#meaning-shares-left {
    margin-bottom: 23px;
}

#securities-portfolio-table {
    background-color: rgb(222, 222, 247);
    border-radius: 10px;
}

.th-securities-portfolio {
    padding: 20px;
}

.td-securities-portfolio {
    padding: 20px;
}

hr {
    color: black;
    width: 100%;
}

.expence-span {
    color: rgb(185, 29, 29);
    font-weight: 700;
}

.income-span {
    color: rgb(7, 145, 14);
    font-weight: 700;
}