<!DOCTYPE html>
<html>
    <head>
        {% load static %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito+Sans:wght@200;300&family=Open+Sans&display=swap" rel="stylesheet">

        <meta charset="utf-8">
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}" > 

        {% block links %}

        {% endblock links %}

        {% block title %}

        {% endblock title %}
    </head>
    <body>
        <nav id="navbar">
            <div id="nav-container">
                <ul id="nav-ul">
                    <li class="nav-item" id="logo">
                        <a class="nav-link" href="#">Logo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            {% if user.userprofile %}
                                <a class="nav-link" href="{% url 'currentuser' %}">Личный кабинет</a>
                            {% else %}
                                {% if user.employeeprofile.position == 'бухгалтер' %}
                                    <a class="nav-link" href="{% url 'accountant' %}">Личный кабинет</a>
                                {% endif %}
                                {% if user.employeeprofile.position == 'менеджер' %}
                                    <a class="nav-link" href="{% url 'manager' %}">Личный кабинет</a>
                                {% endif %}
                                {% if user.employeeprofile.position == 'аналитик' %}
                                    <a class="nav-link" href="{% url 'analyst' %}">Личный кабинет</a>
                                {% endif %}
                                {% if user.employeeprofile.position == 'директор' %}
                                    <a class="nav-link" href="{% url 'director' %}">Личный кабинет</a>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <a class="nav-link" href="{% url 'loginuser' %}">Личный кабинет</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        
                        <a class="nav-link" href="{% url 'login_employee' %}">Сотрудникам</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Партнёрам</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Готовые решения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ценные бумаги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ещё</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Theme</a>
                    </li>
                    <li class="nav-item" id="form">
                        <form id="search-box" action="" method="get">
                            <input id="search-txt" type="search" placeholder="Найти">
                            <button id="search-btn" class="btn" type="submit">Поиск</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

        {% block intro %}
            
        {% endblock intro %}

        {% block content %}

        {% endblock content %}

        {% block scripts %}
        
        {% endblock scripts %}

    </body> 
</html>