{% extends 'mif/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/invest.css' %}">
{% endblock links %}

{% block title %}
    <title>Инвестировать</title>
{% endblock title %}


{% block content %}
    {% if user.is_authenticated %}
        <div id="invest">
            <div id="current-value-share">Текущая стоимость пая = {{ fin_struct.current_value_share }}</div>
            <div id="shares-left">Осталось паёв: {{ fin_struct.shares_left }}</div>
            <form method="POST" id="invest-form">
                {% csrf_token %}
                <div id="choosing-number-shares">Выберите количество паёв:</div>
                <input id="number-shares-input" type="text" name="number_shares">
                <div id="your-share">Ваша доля составляет:</div>
                <div id="your-investment">Ваша инвестиция составляет:</div>
                <button id="invest-btn" type="submit">Инвестировать</button>
            </form>
        </div>
    {% else %}
        <div id="sub-main">
            <h1 id="Вы не зарегистрированы!"></h1>
            <div id="signup-login-buttons">
                <button id="signup-button">
                    <a id="signup" href="{% url 'signupuser' %}">Зарегистрироваться</a>
                </button>
                <button id="login-button">
                    <a id="login" href="{% url 'loginuser' %}">Войти</a>
                </button>
            </div>
        </div>
    {% endif %}
{% endblock content %}