{% extends 'mif/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/signupuser.css' %}">
{% endblock links %}

{% block title %}
    <title>Регистрация</title>
{% endblock title %}

{% block content %}
    <main>
        <div id="sub-main">
            <h1 id="h1-signupuser">Регистрация</h1>
            <div class="form-container">
                <div class="form-container">
                    <form method="post" id="signupuser-form">
                        {% csrf_token %}
                        <h3 id="h3-signupuser">Введите ваши данные</h3>
                        <div id="usernameForm" class="form-cell">
                            <div id="username-label">Имя аккаунта:</div>
                            <div id="div-username">{{ user_form.username }}</div>
                            <div id="username-description" class="description"></div>
                        </div>
                        <div id="firstNameForm" class="form-cell">
                            <div id="firstName-label">Имя:</div>
                            <div id="div-firstName">{{ user_form.first_name }}</div>
                            <div id="firstName-description" class="description"></div>
                        </div>
                        <div id="lastNameForm" class="form-cell">
                            <div id="lastName-label">Фамилия:</div>
                            <div id="div-lastName">{{ user_form.last_name }}</div>
                            <div id="lastName-description" class="description"></div>
                        </div>
                        <div id="emailForm" class="form-cell">
                            <div id="email-label">Электронная почта:</div>
                            <div id="div-email">{{ user_form.email }}</div>
                            <div id="email-description" class="description"></div>
                        </div>
                        <div id="phoneNumberForm" class="form-cell">
                            <div id="phoneNumber-label">Телефонный номер:</div>
                            <div id="div-phoneNumber">{{ user_profile_form.phone_number }}</div>
                            <div id="phoneNumber-description" class="description"></div>
                        </div>
                        <div id="passwordsForm" class="form-cell">
                            <div id="password1Form">
                                <div id="password1-label">Пароль:</div>
                                <div id="div-password1">{{ user_form.password }}</div>

                                <div id="passwords-description" class="description"></div>
                            </div>
                            <div id="password2Form">
                                <div id="password2-label">Введите пароль повторно:</div>
                                <div id="div-password2">
                                    <input id="password2" type="text" name="password2" size="20">
                                </div> 
                                <div id="underpass2" class="description"></div>
                            </div>
                        </div>
                        <div id="div-signup-button" class="form-cell">
                            <button id="signup-button" class="btn" type="submit">Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </main>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}