{% extends 'mif/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/employees/manager.css' %}">
{% endblock links %}

{% block title %}
    <title>Менеджер</title>
{% endblock title %}

{% block content %}
    <main>
        <div id="sub-main">
            <h1 id="h1-manager">Менеджер</h1>
            <div id="logoutuser">
                <form id="logoutuser-form" method="POST" action="{% url 'logoutuser' %}">
                    {% csrf_token %}
                    <button id="logoutuser-btn" type="submits">Выйти</button>
                </form>
            </div>
            <div id="analytical-plan-and-broker-asset-and-securities-portfolio">
                <div class="analytical-plan">
                    <h3 class="h3-analytical-plan">Аналитический план</h3>
                    <table id="table-analytical-plan">
                        <tr id="head-tr">
                            <th class="th-analytical-plan">Название объекта купли-продажи</th>
                            <th class="th-analytical-plan">Статус</th>
                            <th class="th-analytical-plan">Количество</th>
                            <th class="th-analytical-plan">Назначенные дата и время</th>
                            <th class="th-analytical-plan">Токен</th>
                        </tr>
                        {% for plan_object in plan_objects %}
                            <tr class="tr-analytical-plan">
                                <td class="td-analytical-plan">{{ plan_object.name_obj }}</td>
                                <td class="td-analytical-plan">{{ plan_object.status }}</td>
                                <td class="td-analytical-plan">{{ plan_object.quantity }}</td>
                                <td class="td-analytical-plan">{{ plan_object.datetime }}</td>
                                <td class="td-analytical-plan">{{ plan_object.token }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <form method="POST" id="complete-obj-form">
                        {% csrf_token %}
                        <div id="token-input-label">
                            <input id="token-input" name="token" size="30">
                        </div>
                        <button type="submit" id="complete-obj-btn">Завершить задание</button>
                    </form>
                </div>
                <div id="securities-portfolio">
                    <table id="securities-portfolio-table">
                        <tr id="head-table-securrities-portfolio">
                            <th class="th-securities-portfolio">Компания</th>
                            <th class="th-securities-portfolio">Число акций</th>
                            <th class="th-securities-portfolio">Доля в портфеле</th>
                        </tr>
                        {% for tr in securities_portfolio %}
                            <tr class="tr-securities-portfolio">
                                <td class="td-securities-portfolio">{{ tr.stock_company }}</td>
                                <td class="td-securities-portfolio">{{ tr.number_shares }}</td>
                                <td class="td-securities-portfolio">{{ tr.share_in_portfolio }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="broker-asset">
                    <div id="current-budget">Текущий бюджет = {{ fin_struct.budget }}</div>
                    <div id="current-net-asset-value">Текущая стоимость чистых активов = {{ fin_struct.current_net_asset_value }}</div>
                    <button id="broker-asset-btn"><a id="broker-asset-link" href="#">Перейти к брокеру</a></button>
                </div>
            </div>
            <div id="record-deal">
                <form method="POST" id="record-deal-form">
                    {% csrf_token %}
                    <h3 id="h3-record-deal">Запись сделки</h3>
                    <div class="div-record-deal">
                        <div class="record-deal-label">Название компании:</div>
                        <input class="record-deal-input" type="text" name="stock_company">
                    </div>
                    <div class="div-record-deal">
                        <div class="record-deal-label">Стоимость акции:</div>
                        <input class="record-deal-input" type="text" name="share_price">
                    </div>
                    <div class="div-record-deal">
                        <div class="record-deal-label">Число акций:</div>
                        <input class="record-deal-input" type="text" name="number_shares">
                    </div>
                    <div class="div-record-deal">
                        <div class="record-deal-label">Статус операции:</div>
                        <input class="record-deal-input" type="text" name="status">
                    </div>
                    <div class="div-record-deal">
                        <div class="record-deal-label">Дата и время:</div>
                        <input class="record-deal-input" type="text" name="datetime">
                    </div>
                    <button id="record-deal-btn" type="submit">Сохранить сделку</button>
                </form>
            </div>
            <div id="sending-report">
                <form method="POST" enctype="multipart/form-data" id="sending-report-form">
                    {% csrf_token %}
                    <h3 id="h3-sending-report">Отправка отчёта</h3>
                    <p>Наименование сотрудника:</p>
                    <input id="employee" type="text" name="employee">
                    <p>Загрузить отчёт:</p>
                    <input id="upload-file" type="file" name="report">
                    <button id="sending-report-button" type="submit">Отправить отчёт</button>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}